{% extends 'base.html'%}
{% block nav %}

{% endblock %}  

{% block content %}

<main>
    <div class="background-img">
        <ul class='project-container'> 
            {% for project in projects %}
                <li class='project'>
                    <a href="{% url 'project_show' project.id %}"> {{ project.title }}</a>
                    <p class='project-description-hidden'> {{project.description}} </p> 
                </li> 
            {% endfor %}
        </ul> 
    </div> 
</main>

{% endblock content %}


