{% extends 'base.html' %}

{% block content %}
<div> 
    {% for project in projects %} 
        <div class='profile-projects'> 
            <a href="{% url 'project_show' project.id %}"> 
            <h3 class='project-title-profile'> {{project.title }} <h3> 
            <li>Funding Goal: $ {{project.funding_goal}}</li> 
            <li>Funding Date: {{project.funding_start_date}} - {{project.funding_end_date}} </li> 
            </a>
            <br /> 
            <li>Backers Username:</li> 
            <br /> 
            {% for backer in project.backers.all %}
                 <li> <a class='profiles-users' href="{% url 'profile_show' backer.id %}">  {{backer}}  </a></li> 
            {% endfor %}
           
            
        </div> 
    {% endfor %}
   
</div> 
{% endblock %}

