
{% extends 'base.html' %}
{% block content %}
{% if request.user in project.backers.all %}
<div class='backed-header'>
   <h3> You have already backed this project</h3>
</div>
{% endif %}
<div class='form-container project-page'> 
        <h3> Owner: {{project.owner.username}} </h3>
    <h1>{{project.title}}</h1>
    <h4>{{project.category}}</h4>
    <p> {{project.description}}</p>
    <p> {{project.funding_start_date}} to {{project.funding_end_date}} </p>
    <p>TIME UNTIL FUNDING DATE: {{delta.days}} DAYS </p> 
    <p> {{ funding_end_date }}</p> 
    <p>Total Amount Pledged To Date: ${{ total_donations }}</p>
    {% for tag in project.tags.all %}
    <u class="tag-list">
        <li class="tag">{{tag}}</li>
    </ul>
    {% endfor %}
    <ul>
        {% for reward in rewards %}
        <li> 
        <p>{{reward.reward_item}} </p> 
        <p>{{reward.reward_description}} </p>
        <p>${{reward.reward_amount}} </p>
        <p>{{reward.reward_limit}} </p>
        {% if request.user not in project.backers.all and request.user != project.owner %}
         <form action="{% url 'back_project' id=reward.pk %}">
        <input type="submit" value="Back Project">
        </form>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% if request.user == project.owner %} 
    <form action="{% url 'reward_create' project.pk %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>
    {% endif %} 
</div> 

{% endblock %}