{% extends 'base.html' %}
{% block content %}
<div class='project-container'> 
    <h1>{{project.title}}</h1>
    <h3> {{project.owner.username}} </h3>
    <p> {{project.description}}</p>
    <p> {{project.funding_start_date}} to {{project.funding_end_date}} </p>
    <ul>
        {% for reward in rewards %}
        <li> 
        <p>{{reward.reward_item}} </p> 
        <p>{{reward.reward_description}} </p>
        <p>${{reward.reward_amount}} </p>
        </li>
        {% endfor %}
    </ul>

    {% if request.user == project.owner %}
    <form action="{% url 'reward_create' project.pk %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>
</div> 
{% endif %}
{% endblock %}